<template>
    <div>
        <header class="py-6 bg-indigo-500 text-white">
            <div class="container flex justify-between mx-auto items-center">
                <router-link to="/">
                    <h1 class="text-4xl font-light">
                        Med<span class="font-normal">B</span>
                    </h1>
                </router-link>
                <router-link to="/clients/create" class="rounded border-2 border-white p-2">
                    <span class="text-lg">
                        Novo Cliente
                    </span>
                </router-link>
            </div>
        </header>
        <notifications/>
        <div class="container mx-auto pt-6">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    export default {}
</script>