<template>
  <div>
    <h2 class="text-3xl font-light text-indigo-800">
      <span class="font-medium">Novo</span> Cliente
    </h2>
    <div class="pt-6 text">
      <form @submit.prevent="onSubmit">
        <div class="flex">
          <div class="w-1/2 flex flex-col pr-4">
            <input type="hidden" name="_token" :value="csrf">
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Nome</span>
              <input class="rounded border-2 border-gray-400 px-2 py-1" type="text" v-model="client.name" placeholder="Ex. John Doo" required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">CPF</span>
              <the-mask class="rounded border-2 border-gray-400 px-2 py-1" mask="###.###.###-##" placeholder="xxx.xxx.xxx-x" v-model="client.cpf" required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Data de Nascimento</span>
              <the-mask class="rounded border-2 border-gray-400 px-2 py-1"  mask="##/##/####" placeholder="dd/mm/aaaa" :masked="true" v-model="client.birthday" required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Email</span>
              <input class="rounded border-2 border-gray-400 px-2 py-1" type="email" v-model="client.email" placeholder="ex@mple.com" required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Telefone</span>
              <the-mask class="rounded border-2 border-gray-400 px-2 py-1" type="tel" placeholder="(xx) x xxxx-xxxx" :mask="['(##) ####-####', '(##) #####-####']" v-model="client.phone" required/>
            </label>
          </div>
          <div class="w-1/2 flex flex-col pl-4">
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">CEP</span>
              <the-mask class="rounded border-2 border-gray-400 px-2 py-1" placeholder="xxxxx-xxx" mask="#####-###" v-model="client.cep" @input="onInputCEP" required/>
            </label>            
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Estado</span>
              <input class="rounded border-2 border-gray-400 px-2 py-1 bg-gray-200" type="text" v-model="client.state" disabled required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Cidade</span>
              <input class="rounded border-2 border-gray-400 px-2 py-1 bg-gray-200" type="text" v-model="client.city" disabled required/>
            </label>
            <label class="flex flex-col pb-4">
              <span class="text-lg font-normal pb-1">Endereço</span>
              <input class="rounded border-2 border-gray-400 px-2 py-1" type="text" v-model="client.address" required placeholder="Ex. Avenida Kakogawa, 315"/>
            </label>
          </div>
        </div>
        <div class="mt-4 flex">
          <router-link class="border-indigo-600 border-2 text-xl text-indigo-600 py-2 px-4 rounded mr-4" to="/">Voltar</router-link>
          <input class="bg-indigo-600 text-xl text-white py-2 px-4 rounded cursor-pointer" type="submit">
        </div>
      </form>
    </div>
  </div>
</template>

<script>

import api from '../../api/clients';
import axios from 'axios';
import { TheMask } from "vue-the-mask";

export default {

  components: { TheMask },

  data() {
    return {
      csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
      client: {
        name: '',
        cpf: '',
        birthday: '',
        email: '',
        phone: '',
        cep: '',
        address: '',
        city: '',
        state: '',
      },
    }
  },

  methods: {
    onSubmit() {
      if(this.client.cpf.length < 10) {
        this.$notify({
            type: 'error',
            text: 'Insira um CPF válido'
          });
        return;
      }
      if(this.client.birthday.length < 8) {
        this.$notify({
            type: 'error',
            text: 'Insira um CPF válido'
          });
        return;
      }
      if(this.client.phone.length < 10) {
        this.$notify({
            type: 'error',
            text: 'Insira um telefone válido'
          });
        return;
      }
      if(this.client.cep.length < 8) {
        this.$notify({
            type: 'error',
            text: 'Insira um CEP válido'
          });
        return;
      }
      api.create(this.client)
        .then((data) => {
          this.$notify({
            type: 'success',
            text: 'Cliente Adicionado Com Sucesso'
          });
          this.$router.push('/');
        })
        .catch((e) => {
          this.$notify({
            type: 'error',
            text: 'Preencha todos os campos corretamente'
          });
        });
    },
    onInputCEP() {
      if(this.client.cep.length === 8) {
        axios.get(`https://viacep.com.br/ws/${this.client.cep}/json/`)
          .then(response => {
            if(response.data.erro) {
              this.$notify({
                type: 'error',
                text: 'Informe um CEP válido'
              });
            } else {
              this.client.city = response.data.localidade;
              this.client.state = response.data.uf;
            }
          });
      }
    }
  }

}
</script>