<template>
  <div class="flex flex-col">
    <h2 class="text-3xl font-medium text-indigo-800">Clientes</h2>
    <input class="mt-4 rounded border-2 border-gray-400 px-2 py-1" type="text" v-model="clientsSearch" placeholder="Digite o nome do cliente" required/>
    <div class="pt-4">
      <ul v-if="clients.length">
        <li v-for="client in filteredClients" v-bind:key="client.id">
          <div class="py-3 px-4 bg-white rounded flex mb-4 border border-indigo-200 justify-between">
            <router-link :to="{ name: 'clients.show', params: { id: client.id } }" class="flex items-center">
              <span class="font-medium text-lg">Nome:</span>
              <span class="text-lg font-light pl-4">{{client.name}}</span>
              <span class="font-medium text-lg pl-6">Idade:</span>
              <span class="text-lg font-light pl-4">{{getAge(client.birthday)}} anos</span>
            </router-link>
            <div class="flex">
              <router-link :to="{ name: 'clients.edit', params: { id: client.id } }" class="border-indigo-600 border-2 text-m text-indigo-600 py-1 px-2 rounded mr-4">Editar</router-link>
              <a href="#" class="border-red-600 border-2 text-m text-red-600 py-1 px-2 rounded" @click.prevent="() => onRemove(client.id)">Remover</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="flex" v-if="!clients.length">
        <router-link to="/clients/create" class="text-indigo-600 underline">Você ainda não tem nenhum cliente adicionado clique aqui para adicionar um novo</router-link>
      </div>
    </div>
  </div>
</template>

<script>

import api from '../../api/clients';

export default {
  
  data() {
    return {
      clients: [],
      clientsSearch: ''
    }
  },

  methods: {
    fetchData() {
      api.all().then(response => {
        this.clients = response.data;
      });
    },
    getAge(birthday) {
      const newBirthday = birthday.split("/").reverse().join("-")
      const birthDate = new Date(newBirthday);
      const ageDifMs = Date.now() - birthDate.getTime();
      const ageDate = new Date(ageDifMs);
      return Math.abs(ageDate.getUTCFullYear() - 1970);
    },
    onRemove(id) {
      if(window.confirm("Você realmente deseja excluir este cliente?")) {
        api.delete(id)
          .then((data) => {
            this.$notify({
              type: 'success',
              text: 'Cliente Removido Com Sucesso'
            });
            this.fetchData();
          })
          .catch((e) => {
            this.$notify({
              type: 'error',
              text: 'Não foi possível excluir o cliente'
            });
          });
      }
    },
  },

  created() {
    this.fetchData();
  },

  computed: {
    filteredClients() {
      return this.clients.filter((client) => {
        const name = client.name.toLowerCase();
        const search = this.clientsSearch.toLowerCase();
        return name.match(search);
      });
    }
  }

}
</script>

<style>

</style>