<template>
  <div>
    <h2 class="text-3xl font-light text-indigo-800">
      <span class="font-medium">{{client.name}}</span>
    </h2>
    <div class="pt-6">
      <div class="rounded bg-white border-indigo-200 border-2 p-6 flex-col">
        <div class="flex">
          <div class="flex flex-col w-1/2 pr-2">
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Email</span>
              <span class="text-xl font-light pl-2">{{client.email}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">CPF</span>
              <span class="text-xl font-light pl-2">{{this.formattedClientData.cpf}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Data de Nascimento</span>
              <span class="text-xl font-light pl-2">{{client.birthday}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Telefone</span>
              <span class="text-xl font-light pl-2">{{formattedClientData.phone}}</span>
            </div>
          </div>
          <div class="flex flex-col w-1/2 pl-2">
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">CEP</span>
              <span class="text-xl font-light pl-2">{{formattedClientData.cep}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Estado</span>
              <span class="text-xl font-light pl-2">{{client.state}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Cidade</span>
              <span class="text-xl font-light pl-2">{{client.city}}</span>
            </div>
            <div class="flex flex-col pb-4">
              <span class="font-medium text-2xl text-indigo-900">Endereço</span>
              <span class="text-xl font-light pl-2">{{client.address}}</span>
            </div>
          </div>
        </div>
        <div class="mt-4 flex justify-between">
          <div class="flex">
            <router-link class="border-indigo-600 border-2 text-xl text-indigo-600 py-2 px-4 rounded mr-4" to="/">Voltar</router-link>
            <router-link :to="{ name: 'clients.edit', params: { id: client.id } }" class="bg-indigo-600 text-xl text-white py-2 px-4 rounded">Editar</router-link>
          </div>
          <a href="#" class="bg-red-600 text-xl text-white py-2 px-4 rounded cursor-pointer" @click.prevent="onRemove">Excluir Cliente</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import api from '../../api/clients';

export default {

  data() {
    return {
      client: {},
      formattedClientData: {
        cpf: '',
        phone: '',
        cep: ''
      }
    }
  },

  methods: {
    fetchData() {
      api.find(this.$route.params.id).then(response => {
        this.client = response.data;
      }).then(() => {
        this.formattedClientData.cpf = `${this.client.cpf.substr(0, 3)}.${this.client.cpf.substr(3,6)}.${this.client.cpf.substr(6, 9)}-${this.client.cpf.substr(9, 11)}`;

        const ddd = this.client.phone.substr(0,2);
        const phone = this.client.phone.substr(2);
        if(phone.length === 9) {
          this.formattedClientData.phone = `(${ddd}) ${phone.substr(0, 1)} ${phone.substr(1, 5)}-${phone.substr(5,9)}`;
        } else {
          this.formattedClientData.phone = `(${ddd}) ${phone.substr(0, 4)}-${phone.substr(4,8)}`;
        }

        this.formattedClientData.cep = `${this.client.cep.substr(0, 5)}-${this.client.cep.substr(5, 8)}`;
      });
    },
  },

  created() {
    this.fetchData();
  },
}
</script>